* {
  padding: 0;
  box-sizing: border-box;
}
body{
  width:100vw;
  height: 100vh;
  background:linear-gradient(45deg, rgb(4, 104, 96),rgb(18, 16, 16));
  overflow: hidden;
  display:flex;
  justify-content: center;
  align-items: center;
}
.circle {
  width: 40vh;
  height: 40vh;
  background-color: white;
  border-radius: 50%;
  border-bottom: 120px solid orange;
  border-top: 120px solid rgb(0, 183, 255);
  border-left: 120px solid rgb(172, 10, 10);
  border-right: 120px solid green;
  margin-right: auto;
  margin-left: auto;
  transition: transform 12s ease, border 3s ease-in-out,
    background-color 10s ease;
}
.active {
  transform: rotate(7200deg);
  border-bottom-color: yellow;
  border-top-color: crimson;
  border-right-color: green;
  border-left-color: blue;
  background-color: black;
}
button {
  position:absolute;
  bottom:20%;
  width: 150px;
  height: 40px;
  color:white;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  
  background: linear-gradient(
    155deg,
    rgba(2, 2, 2, 0.9),
    rgba(133, 20, 5, 0.55)
  );
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: flex;
}
p{
  font-size:20px;
  font-weight: bold;
  font-family:sans-serif;
  text-transform: uppercase;
}